.App {
  padding: 0;
  margin: 0;
  height: 100vh;
  overflow-x: hidden; 
}

Col {
  padding: 0;
}

/* span {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.header_row{
  height: 100%;
}

.header_style {
  width: 100%;
  height: 5rem;
  background-color: #307473;
  margin-bottom: 4rem;
}



.water_logo {
  margin-left: 10px;
  width: 40px;
  justify-self: flex-start;
}

.title_style {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  text-align: center;

}

@media (max-width: 768px) {
  .title_style {
    font-size: 1.5rem; /* Adjusted font size for smaller screens */
  }
  .water_logo{
    width: 1.5rem;
  }
}

@media (max-width: 576px) {
  .title_style {
    font-size: 1.2rem; /* Further adjusted font size for even smaller screens */
  }
  .water_logo{
    width: 1.5rem;
  }
}

/*  WaterForm CSS */

  .col_style{
    margin-bottom: 2rem;
  }

  .card_header_style{
    color: #307473;
  }

  .validation_col{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 2rem;

  }

  .validation_style{
    width: 100%;
  }

  .revenir_style {
    margin-bottom: 0.3rem;
  }

  .error_style{
    color: red;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }

  /* Results CSS */
  .card_style{
    padding: 0;
  }

  .chart_style {
    width: 20rem;
    height: 20rem;
  }

